.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  margin-bottom: 32px;
  display: flex;
  max-width: 173px;
}

@media screen and (max-width: 806px) {
  .header__logo {
    max-width: 126px;
  }

  .header {
    max-width: 320px;
    margin-top: 28px;
    padding: 0 27px;
  }
}
