.page {
    background-color:black;
    color:white;
}

.page__section {
    max-width:880px;
    width:100%;
    position:relative;
    margin: 0 auto;
}

.page__content {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    max-width:880px;
    margin: 0 auto;
    width:100%;
    box-sizing: border-box;
}

@media screen and (max-width:806px)  {

    .page__content {
      width:282px;
    }

    .Around {
        margin: 0 167px 32px 27px;
        display: flex;
        width: 126px;
        height:24px;
      }
}